* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f3f3f3;
    max-height: 100vh;
    overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn__principal {
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: rgb(63, 63, 63);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        background-color: rgb(24, 24, 24);
    }
}

#error__componente {
    background-color: rgb(206, 10, 10);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

#contenedor__inicio {
    display: flex;
    width: 100%;
    height: 100vh;

    .lado__izquierdo {
        flex: 2;
        max-height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .lado__derecho {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 1rem;

        .logo {
            width: 300px;
            height: 300px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .caja_boton_login {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .btn_login {
                font-size: 20px;
                color: orange;
                transition: all 0.2s linear;

                &:hover {
                    letter-spacing: 2px;
                }
            }

            .icono {
                width: 100px;
                height: 100px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }

        .creditos {
            text-align: center;
            span {
                font-size: 12px;
                color: gray;
            }
        }
    }
}

#contenedor__login {
    display: flex;
    width: 100%;
    height: 100vh;

    .lado__izquierdo {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 3rem;

        .logo {
            width: 100px;
            height: 100px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .titular {
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: bolder;
            color: rgb(51, 51, 51);
        }

        .contenedor__input {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 1rem;

            .caja_input {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: rgb(88, 88, 88);
                    font-weight: bolder;
                }

                input {
                    border: none;
                    outline: none;
                    border-bottom: solid 3px rgb(51, 51, 51);
                    padding: 10px;
                    font-size: 1.3rem;
                    background: transparent;

                    &::placeholder {
                        color: gray;
                    }
                }

                p {
                    display: none;
                }

                &.error {
                    input {
                        border-bottom: solid 3px rgb(189, 12, 12);
                    }

                    p {
                        display: block;
                        font-weight: bold;
                        font-size: 12px;
                        color: red;
                    }
                }
            }

            button {
                display: block;
                width: max-content;
            }
        }
    }

    .lado__derecho {
        flex: 1;
        max-height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

#contenedor__menuPrincipal {
    display: flex;
    width: 100%;
    height: 100vh;

    .lado__izquierdo {
        background-color: rgb(46, 80, 172);
        flex: 1;
        padding: 2rem 1rem;

        .Sidebar__Menu {
            display: flex;
            flex-direction: column;
            height: 100%;

            .logo {
                width: 200px;
                height: 200px;
                margin: 1rem auto 1rem auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            nav {
                margin-top: 1rem;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .btn_nav {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: white;
                    font-size: 20px;
                    transition: all 0.2s linear;
                    border-radius: 5px;
                    height: 60px;
                    padding: 0 0.8rem;

                    &:hover {
                        background-color: rgb(19, 48, 128);
                    }

                    a {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .caja_logout {
                margin-top: auto;

                .btn__principal {
                    font-size: 15px;
                }
            }
        }
    }

    .lado__derecho {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 3rem;

        .fecha__titulo {
            background-color: rgb(46, 80, 172);
            color: white;
            padding: 1rem 2rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            margin-bottom: 2rem;
            width: 100%;
        }

        .contenedor_bienvenida {
            h1 {
                margin: 1rem 0;
                color: rgb(37, 37, 37);
            }

            .contenido {
                color: rgb(41, 41, 41);
                display: flex;
                flex-direction: column;
                gap: 1rem;
                font-size: 18px;

                ul {
                    margin: 0 auto 1rem 2rem;

                    li {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}

#contenedor__registroReservas {
    display: flex;
    width: 100%;
    height: 100vh;

    .lado__izquierdo {
        flex: 1;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .titular {
            font-size: 2.6rem;
            text-transform: uppercase;
            color: rgb(46, 80, 172);
        }

        .contenedor__input {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 2rem;

            .caja_input {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: rgb(88, 88, 88);
                    font-weight: bolder;
                }

                input,
                select {
                    border: none;
                    outline: none;
                    border-bottom: solid 3px rgb(51, 51, 51);
                    padding: 10px;
                    font-size: 1.2rem;
                    background: transparent;
                    text-transform: uppercase;

                    &::placeholder {
                        color: gray;
                    }
                }
            }

            .error {
                background-color: red;
                color: white;
                padding: 5px;
                border-radius: 3px;
                font-size: 12px;
            }

            .btn__principal {
                width: max-content;
            }
        }
    }

    .lado__derecho {
        flex: 1;
        max-height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

#contenedor__registroHuesped {
    display: flex;
    width: 100%;
    height: 100vh;

    .lado__izquierdo {
        flex: 1;
        max-height: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .lado__derecho {
        flex: 1;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .titular {
            font-size: 2rem;
            text-transform: uppercase;
            color: rgb(46, 80, 172);
        }

        .contenedor__input {
            display: flex;
            flex-direction: column;
            width: 80%;
            gap: 1rem;

            .caja_input {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: rgb(88, 88, 88);
                    font-weight: bolder;
                }

                input,
                select {
                    border: none;
                    outline: none;
                    border-bottom: solid 3px rgb(51, 51, 51);
                    padding: 10px;
                    background: transparent;
                    text-transform: uppercase;

                    &::placeholder {
                        color: gray;
                    }
                }

                .error {
                    font-size: 10px;
                    letter-spacing: 1px;
                    color: red;
                    text-transform: uppercase;
                }
            }

            .btn__principal {
                width: max-content;
                align-self: flex-end;
            }
        }
    }
}

/*-----------------------MEDIA QUERIES------------------------*/
@media (max-width: 800px) {
    #contenedor__inicio {
        .lado__derecho {
            .logo {
                width: 200px;
                height: 200px;
            }

            .caja_boton_login {
                a {
                    font-size: 15px;
                }

                .icono {
                    width: 80px;
                    height: 80px;
                }

                .creditos {
                    span {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
